.dialog-container {
    padding: 16px;
  }
  
  .dialog-title {
    margin-bottom: 24px;
    color: #1890ff;
    font-weight: 500;
  }
  
  .dialog-footer {
    margin-top: 24px;
    text-align: right;
    
    button {
      margin-left: 8px;
    }
  }
  
  nz-form-item {
    margin-bottom: 16px;
  }