<nav class="menu-bar">
    <div class="logo">
      <img src="assets/logo/mandu.png" alt="mandú logo" width="200" height="50" />
    </div>
    <ul class="menu-items">
      <li class="menu-item">Dashboard</li>
      <li class="menu-item active">Organización</li>
      <li class="menu-item">Seguimiento <span class="arrow">▼</span></li>
      <li class="menu-item">Modelos <span class="arrow">▼</span></li>
    </ul>
    <div class="menu-actions">
      <span nz-icon nzType="appstore" nzTheme="outline" nzTooltipTitle="Maletín de trabajo"></span>
      <span nz-icon nzType="question-circle" nzTheme="outline" nzTooltipTitle="Ayuda"></span>
      <span nz-icon nzType="bell" nzTheme="outline" nzTooltipTitle="Notificaciones"></span>
      <div class="avatar">A</div>
      <img class="logo-mini" src="assets/logo/mandu.png" alt="mandú mini logo" width="200" height="50"/>
    </div>
  </nav>